@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.btn {

    line-height: 40px;
    background-color: #C92071;
    color: white !important;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    display: block;
    transition-duration: 200ms;
    &:hover {
        background-color: #991956;
    }


}

header {
    background-color: white;
    padding: 34px 100px 29px 100px;

    .topo {
        display: flex;
        align-items: center;

        .logo {
            font-size: 36px;
            font-weight: 600;
            color: #C92071;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .buscador {
            flex: 1;
            background-color: #47474710;
            border-radius: 8px;
            margin-left: 27px;
            margin-right: 48px;
            display: flex;
            align-items: center;
            padding-right: 16px;


            input {
                width: 100%;
                height: 60px;
                background-color: transparent;
                padding-left: 24px;

            }
        }

        .acoes {
            display: flex;
            align-items: center;

            a {
                color: #474747;
                text-decoration: underline;
                &:hover{
                    color: #C92071;
                }

                &.btn {
                    width: 114px;
                    margin-left: 30px;
                    margin-right: 70px;
                    text-decoration: none;
                }
            }

        }

        .carrinho {
            position: relative;

            span {
                min-width: 17px;
                line-height: 17px;
                border-radius: 100%;
                background-color: #EE4266;
                color: white;
                font-weight: bold;
                font-size: 12px;
                display: block;
                text-align: center;
                position: absolute;
                top: -8px;
                right: -8px;
            }
        }

    }

    nav {
        display: flex;
        gap: 32px;
        margin-top: 40px;

        a {
            color: 474747;
            transition-duration: 200ms;
            &.active{
                color: #C92071;
                font-weight: bold;
                border-bottom: 2px solid #C92071;
            }

            &:hover {
                color: #C92071;
            }
        }
    }

}